/* elements */
button {
    width: 180px;
    height: 50px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: #000000;
    color: #fff;
    border: none;
}
button:hover {
    background-color: transparent;
    border: 2px solid #000000;
    color: #000000;
}
.container {
    padding-left: 30px;
    padding-right: 30px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Space Mono', monospace;
}
p, a, li {
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.8;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}
